// VARIABLES
$color-pink: #efc7c5;
$color-gray: #6a6a6a;
$color-black: #000000;
$color-white: #ffffff;
$color-magenta: #ff6beb;

// RESET
html {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: var(--font-arimo);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

p {
  line-height: 24px;
}
// NAVBAR

.navbar-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  z-index: 100;
  margin: 1rem;
  padding: 0 1rem;
  border-radius: 5rem;
  background-color: $color-pink;
  border: 2px solid $color-white;

  .navbar-aside {
    width: auto;
    height: auto;

    img {
      width: 45px;
      height: auto;
      border: 2px solid $color-white;
      border-radius: 50%;
    }
  }

  button {
    display: block;
    background-color: transparent;
    border: none;
    color: $color-black;
  }

  .navbar-nav {
    width: 100%;
    position: fixed;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;
    transition: transform 200ms ease-in-out;
    transform: translateY(100%);
    background-color: transparent;

    &.is-active {
      transform: translateY(0);
    }

    ul {
      width: 90%;
      height: 100%;
      border-radius: 1rem;
      margin: 6rem auto 1rem auto;
      padding: 2rem 0 0 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 3rem;
      background-color: $color-pink;

      a {
        text-decoration: none;
        font-weight: normal;
        color: $color-black;
        width: 100%;
        text-align: center;
      }
    }
  }
}

// MAIN TITLE

.main-title {
  text-align: center;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    z-index: 98;
  }

  div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.25);
    z-index: 98;
  }

  h1 {
    position: relative;
    margin-top: 1rem;
    z-index: 99;
    font-size: 2.5rem;
    line-height: 60px;
    letter-spacing: -1px;
    font-weight: 900;
    font-family: var(--font-playfairDisplay), system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif;
    color: $color-white;

    span {
      -webkit-text-stroke: 0.5px $color-black;
      background-color: $color-pink;
      padding: 0 1rem;
      border-radius: 5rem;
      color: $color-white;
    }
  }
}

// MAIN CONTAINER

.main-container {
  width: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0rem 1rem;
}

// TITLE

.title {
  background-color: $color-black;
  padding: 0.5rem 0;
  border-radius: 5rem;
  text-align: center;
  color: $color-white;
}

// BTN
.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2rem auto;

  p {
    font-weight: bold;

    span {
      display: block;
      color: $color-magenta;
    }
  }
}

.btn {
  font-size: 1rem;
  background-color: #ff6beb;
  color: $color-white;
  font-weight: bold;
  border-radius: 5rem;
  padding: 1rem 0;
  width: 80%;
  text-decoration: none;
}

#resin {
  margin-top: 6rem;
  article {
    ul {
      line-height: 30px;

      li {
        color: $color-magenta;
        font-weight: bold;
      }
    }
  }
}

#why-is-it-for-you {
  ul {
    line-height: 30px;

    li {
      color: $color-magenta;
      font-weight: bold;
    }
  }
}

#course-program {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

// #testimonials {
// }

// #contact {
// }

#resin,
#why-is-it-for-you,
#course-program,
#testimonials,
#contact {
  scroll-margin-top: 6rem;
}

.footer {
  background-color: $color-pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 1rem;
  gap: 1rem;

  picture {
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      object-position: 0 0;
    }
  }

  .footer-info {
    p {
      color: $color-black;
      padding: 0;
      margin: 0;
    }
  }

  .footer-contact {
    .footer-contact-icons {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background-color: rgba($color: $color-white, $alpha: 0.4);
      padding: 1rem 0;
      border-radius: 1rem;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        gap: 0.5rem;
        color: $color-magenta;
        text-decoration: underline;
        font-weight: normal;
      }
    }
  }

  .creator {
    width: 100%;
    margin: 3rem auto 0 auto;
    padding: 0;

    span {
      width: 100%;
      display: block;

      a {
        color: $color-magenta;
        font-weight: bold;
        font-style: italic;
      }
    }
  }
}

// CAROUSEL

.carousel-container {
  display: flex;
  height: 400px;
  overflow: hidden;
  position: relative;
  border: 2px solid $color-pink;
  border-radius: 1rem;
  margin: 2rem 0;

  .carousel-btns {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      background-color: rgba($color: $color-black, $alpha: 0.3);
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      color: $color-white;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
